Emacs23.toolBar:off
Emacs23*font:7x13
Emacs23*foreground:White
Emacs23*background:DarkSlateGray
Emacs23*geometry:80x70
Emacs23*cursorColor:red
Emacs23*borderWidth:0
Emacs23*internalBorder:0

Emacs.toolBar:off
Emacs*font:7x13
Emacs*foreground:White
Emacs*background:DarkSlateGray
Emacs*geometry:80x70
Emacs*cursorColor:red
Emacs*borderWidth:0
Emacs*internalBorder:0

XTerm*background:Black
XTerm*foreground:White
XTerm*metaSendsEscape:true
xterm*vt100*geometry:80x70
xterm*saveLines:10000
xterm*font:7x13
