Emacs.toolBar:off
Emacs*font:8x13
Emacs*foreground:White
Emacs*background:DarkSlateGray
Emacs*geometry:80x70
Emacs*cursorColor:red
Emacs*borderWidth:0
Emacs*internalBorder:0

XTerm*background:Black
XTerm*foreground:White
XTerm*metaSendsEscape:true
xterm*vt100*geometry:80x104
xterm*saveLines:10000
xterm*font:7x13
xterm*scrollBar:true
xterm*rightScrollBar:true
